/*
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
*/

:root.theme-dark {
  --bg-color: #000;
  --accent-color: #00cc14;
  --font-weight-xl: 785;
  --font-weight-l: 465;

  --background-image: repeating-linear-gradient(
      to right,
      #000 0 1px,
      transparent 1px 2px
    ),
    repeating-linear-gradient(to bottom, #000 0 1px, transparent 1px 2px),
    linear-gradient(to bottom, #007f0c 0.01%, #004306);
}

:root.theme-light {
  --bg-color: #fff;
  --accent-color: #000;
  --font-weight-xl: 700;
  --font-weight-l: 400;

  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 1px,
      transparent 1px 2px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 1px, transparent 1px 2px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --accent-color: #00cc14;
    --font-weight-xl: 785;
    --font-weight-l: 465;

    --background-image: repeating-linear-gradient(
        to left,
        #000 0 1px,
        transparent 1px 2px
      ),
      repeating-linear-gradient(to bottom, #000 0 1px, transparent 1px 2px),
      linear-gradient(to bottom, #007f0c 0.01%, #004306);
  }
}
